<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSManager.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSManager.Model.Properties.Settings>
            <setting name="DBHost" serializeAs="String">
                <value>johnny.heliohost.org</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>wornr_dsmanager</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>wornr_dsmanager</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>Qwerty!234</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>True</value>
            </setting>
        </DSManager.Model.Properties.Settings>
    </userSettings>
</configuration>